.bottomNavBar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #48ab76;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
    z-index: 1000; /* Ensure it stays on top of other content */

}