/* Main Container */
.view-specific-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
    max-width: 800px;
    margin: auto;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.95) 55%, /* Dark portion remains at 80% */
      rgba(0, 0, 0, 0.5) 65%,  /* Intermediate fade at 90% */
      rgba(0, 0, 0, 0) 100%    /* Fully transparent at 100% */
    );
  }
/* Specific Image */
.specific-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .specific-image img {
    width: 100%;
    z-index: -1;
    height: auto;
    max-width: 400px; /* Adjust as needed */
  }
  
  /* Header Section */
  .headerName {
    width: 100%;
    height: auto;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
  }
  
  /* Line Break */
  .lineBreak {
    border: 1px solid rgb(80, 77, 77);
    width: 100%;
    margin: 2rem 0;
  }
  
  /* Micro Info Section */
  .microInfo {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }
  
  .microInfoBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
  }
  
  .microInfoBody div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: white;
  }
  
  /* Icon Styles */
  #miniSVG {
    height: 1rem;
    width: 1rem;
    margin-right: 3px;
  }
  
  /* Ingredients and Directions Sections */
  .ingredientSection,
  .directionSection {
    color: white;
    margin: 20px 0;
  }
  
  .ingredientSection h2,
  .directionSection h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* Button Styles */
   .buttonContainer button {
    display: flex;
    align-items: center;
    justify-content: center; /* Center text horizontally */
    padding: 10px 15px;
    border: none;
    background-color: #6da97a;
    color: white;
    font-size: 0.9rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 80%;
    height: 2.5rem;
    text-align: center;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  
/* Tablets */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .view-specific-page {
    padding: 30px; /* Increased padding for tablets */
    max-width: 1000px; /* Wider container */
  }

  .specific-image img {
    max-width: 600px; /* Larger max-width for images */
  }

  .headerName {
    font-size: 3rem; /* Larger font size for header */
  }

  .lineBreak {
    border-width: 2px; /* Thicker border */
  }

  .microInfoBody {
    max-width: 800px; /* Wider container */
  }

  .ingredientSection h2,
  .directionSection h2 {
    font-size: 1.75rem; /* Larger headings */
  }

  .buttonContainer button {
    padding: 12px 20px; /* Larger button padding */
    font-size: 1rem; /* Larger font size */
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  
}
